<nav class="navbar navbar-expand-custom navbar-mainbg">
    <div>
        <a class="navbar-brand navbar-logo" href="index.html"><img src="../../../assets/images/logo.png" alt="" width="100px"
                height="100px"></a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i>Inicio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="far fa-address-book"></i>Cerca de ti</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="far fa-address-book"></i>Mas valorados</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Buscar restaurante</a>
            </li>
        </ul>
        <div class="register-container">
            <a href="http://">Sign in</a>
            <a href="http://">Sign up</a>
        </div>
    </div>

</nav>