@import '../../../styles'

.navBar
    width: 100%
    background-color: #242424
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    height: 60px
    box-shadow: 0px 0px 10px black
    position: fixed
    z-index: 999
img
    width: 100px
    height: 100px
ul
    display: flex
    flex-direction: row
    justify-content: center
    gap: 2rem
    align-items: center
    list-style: none
    height: 80%
    width: 40%

    li
        height: 100% 
        display: flex
        align-items: center
        a
            text-decoration: none
            color: rgba(255, 255, 255, 0.5)
            font-size: large
            &:hover
                color: $white
.registro-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    gap: 2rem
    a
        text-decoration: none
        color: rgba(255, 255, 255, 0.5)
        font-size: large 
        &:nth-child(2)
            background-color: $primary
            color: black
            padding: .3rem
            padding-inline: 2rem
            border-radius: 3px
            text-transform: uppercase
            border: 2px solid transparent
        &:nth-child(2):hover
            background-color: $grey
            border: 2px solid $primary
            color: $primary
        &:nth-child(1)
            border-bottom: 2px solid transparent
        &:nth-child(1):hover
            border-bottom: 2px solid $white
            color: $white

