<nav class="navBar">
    <a routerLink="/inicio"><img src="../../../assets/images/logo.png" alt=""></a>
    <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/buscar">Buscar restaurante</a></li>
    </ul>
    <div class="registro-container" *ngIf="isLoggedIn == 'false'">
        <a routerLink="/login">Sign in</a>
        <a routerLink="/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign up
        </a>
    </div>
    <div class="log-out" *ngIf="isLoggedIn == 'true'">
        <button (click)="cerrarSesion()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Cerrar sesión
        </button>
    </div> 
</nav>