<nav class="navBar">
    <a routerLink="/inicio"><img src="../../../assets/images/logo.png" alt=""></a>
    <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/buscar">Buscar restaurante</a></li>
    </ul>
    <div class="registro-container" *ngIf="!isLoggedIn">
        <a routerLink="/register">Sign in</a>
        <a routerLink="/login">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign up
        </a>
    </div>
    <!-- <div class="log-out" *ngIf="">
        <button >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Cerrar sesión
        </button>
    </div> -->
</nav>