.example-card
    max-width: 400px
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px
.example-header-image
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
    background-size: cover
