<div class="card">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-image let-product pTemplate="item">
            <div class="item-card">
                <img src="{{product.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <a href="" class="btn btn-primary">Go somewhere<fa-icon [icon]="faCoffee"></fa-icon></a>
                </div>
            </div>
            <div class="item-card" style="opacity: 0;">
                <img src="{{product.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <a href="" class="btn btn-primary">Go somewhere<fa-icon [icon]="faCoffee"></fa-icon></a>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>