<div class="login-container">
  <div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="inputs">
        <span class="p-float-label" *ngIf="invalidEmail == 0">
          <input id="float-input" type="email" pInputText formControlName="email" autocomplete="email">
          <label for="float-input">Email</label>
        </span>
        <span class="p-float-label" *ngIf="invalidEmail >= 1">
          <input id="float-input-invalid" type="email" pInputText class="ng-invalid ng-dirty" formControlName="email" autocomplete="email">
          <label class="invalid-label" for="float-input-invalid">Email</label>
        </span>
        <small id="username2-help" class="p-error block" *ngIf="invalidEmail == 1">E-mail incorrecto</small>
      </div>
      <div class="inputs">
        <span class="p-float-label" *ngIf="invalidPassword == 0">
          <input id="float-input" type="password" pInputText formControlName="password" autocomplete="current-password">
          <label for="float-input">Password</label>
        </span>
        <span class="p-float-label" *ngIf="invalidPassword >= 1">
          <input id="float-input-invalid" type="password" pInputText class="ng-invalid ng-dirty"
            formControlName="password">
          <label class="invalid-label" for="float-input-invalid">Password</label>
        </span>
        <small id="username2-help" class="p-error block" *ngIf="invalidPassword == 1">Contraseña incorrecta</small>
      </div>
      <div class="btnGroup-login">
        <button type="submit">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Log in
        </button>
      </div>
    </form>
    <button (click)="logWhitGoogle()" class="btn-google">
      <img src="../../../assets/images/google-svg.svg" alt="" width="20px">Sign in whit Google
    </button>
  </div>
</div>