<div class="restaurant-container">
    <div class="container pt-7">
        <div class="titulo-container" id="titulo-container">
            <h1>{{restaurant?.name}}</h1>
            <p>{{restaurant?.direccion}}</p>
        </div>
        <div class="body-restaurant mt-7">
            <div class="arrow-left-container">
                <a (click)="back()"><fa-icon [icon]="faArrowLeft"></fa-icon>Atrás</a>
            </div>
            <div class="menu-title p-5">
                <h2>Menu de hoy :</h2>
            </div>
            <div class="menu-container pb-7">
                <div class="card-container">
                    <p-accordion [activeIndex]="0">
                        <p-accordionTab header="Primeros">
                            <ul *ngFor="let primero of restaurant?.primeros">
                                <li>{{primero}}</li>
                            </ul>
                        </p-accordionTab>
                        <p-accordionTab header="Segundos">
                            <ul *ngFor="let segundo of restaurant?.segundos">
                                <li>{{segundo}}</li>
                            </ul>
                        </p-accordionTab>
                        <p-accordionTab header="Postres">
                            <ul *ngFor="let postre of restaurant?.postres">
                                <li>{{postre}}</li>
                            </ul>
                        </p-accordionTab>
                    </p-accordion>
                </div>
                <div class="img-container" id="img-container">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="" alt="carta" id="img-menu">
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                <div class="modal-body">
                                    <img src="{{restaurant?.cartaImg}}" alt="carta" id="img-menu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>