/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Roboto'

body
    font-family: 'Roboto', sans-serif
    
$primary: #EBB914
$white: #ffffff
$grey: #242424

*
    margin: 0
    padding: 0
